.titulos,.name{
    color: red;
    text-align: center;
}

.texto,.genero,.ano,.duracao,.idade
{
color: white;
}

.links{
    text-align: right;
    color: white;
}

.butao{
    display: block;
    
    width: 100px;
    height: 20px;
}

.menu
{
    display: none;
}
.poster
{

   display: inline-block;

   width: 25%;

   justify-content: center;

   
}
div{
   
  background-color: black ;
 

}

.imagem{}



#divmain{
   display: flex;
   justify-content: center;

}




