.background
{
    background-color: black;
}

.titulos{
    color: red;
    text-align: center;
}

.texto
{
color: white;
}

.links{
    text-align: right;
    color: white;

}

.butao{
    display: block;
    
    width: 100px;
    height: 20px;
}

.menu
{
    display: none;
}


